packetdrill: add coverage for RM_ADDR

- validation of inbound / outbound RM_ADDR
- check functional compliance to RFC8684 §3.4.2