Deal with multiple pure TCP ACK without MPTCP options

A middlebox could proactively send ACK and not include the MPTCP options. That's fine, a TCP with DACK should could very soon after.

Even if it looks unlikely, a middlebox could drop MPTCP options only in one directly: the receiver would get the MPTCP DSS in the data packets, but the sender would not get MPTCP DACK in the ACK.

Currently, when receiving pure TCP ACK without MPTCP options, the MPTCP code doesn't do anything particular on the MPTCP side: no `msk->snd_una` update (and then no `__mptcp_clean_una()`). In other words, the transfer could continue until the sending buffer is full, but there will be MPTCP reinjections to avoid stalling the whole connection.

We could decide to reset such subflows (or fallback to TCP if possible) in this case, e.g. when a "pure ACK" without MPTCP options is received, and after X MPTCP reinjections linked to that.

On the other hand, the drop of the MPTCP options is very likely done both ways: so the receiver not getting the MPTCP options should reset the subflow. **So probably there is nothing else to do here**, but let's keep this just in case for the future and to gather discussions linked to this topic.

Linked to #544.

Just in case we want to do something when a pure ACK without MPTCP DACK is received, we could start with this patch:

```diff
diff --git a/net/mptcp/options.c b/net/mptcp/options.c
index c0614dba869b..ecf6431009ac 100644
--- a/net/mptcp/options.c
+++ b/net/mptcp/options.c
@@ -356,11 +356,12 @@ static void mptcp_parse_option(const struct sk_buff *skb,
 	}
 }
 
-void mptcp_get_options(const struct sk_buff *skb,
+bool mptcp_get_options(const struct sk_buff *skb,
 		       struct mptcp_options_received *mp_opt)
 {
 	const struct tcphdr *th = tcp_hdr(skb);
 	const unsigned char *ptr;
+	bool had_mptcp = false;
 	int length;
 
 	/* Ensure that casting the whole status to u32 is efficient and safe */
@@ -378,24 +379,28 @@ void mptcp_get_options(const struct sk_buff *skb,
 
 		switch (opcode) {
 		case TCPOPT_EOL:
-			return;
+			return had_mptcp;
 		case TCPOPT_NOP:	/* Ref: RFC 793 section 3.1 */
 			length--;
 			continue;
 		default:
 			if (length < 2)
-				return;
+				return had_mptcp;
 			opsize = *ptr++;
 			if (opsize < 2) /* "silly options" */
-				return;
-			if (opsize > length)
-				return;	/* don't parse partial options */
-			if (opcode == TCPOPT_MPTCP)
+				return had_mptcp;
+			if (opsize > length) /* don't parse partial options */
+				return had_mptcp;
+			if (opcode == TCPOPT_MPTCP) {
+				had_mptcp = true;
 				mptcp_parse_option(skb, ptr, opsize, mp_opt);
+			}
 			ptr += opsize - 2;
 			length -= opsize;
 		}
 	}
+
+	return had_mptcp;
 }
 
 bool mptcp_syn_options(struct sock *sk, const struct sk_buff *skb,
@@ -1123,6 +1128,7 @@ bool mptcp_incoming_options(struct sock *sk, struct sk_buff *skb)
 	struct mptcp_sock *msk = mptcp_sk(subflow->conn);
 	struct mptcp_options_received mp_opt;
 	struct mptcp_ext *mpext;
+	bool has_mptcp_opt;
 
 	if (__mptcp_check_fallback(msk)) {
 		/* Keep it simple and unconditionally trigger send data cleanup and
@@ -1144,7 +1150,7 @@ bool mptcp_incoming_options(struct sock *sk, struct sk_buff *skb)
 		return true;
 	}
 
-	mptcp_get_options(skb, &mp_opt);
+	has_mptcp_opt = mptcp_get_options(skb, &mp_opt);
 
 	/* The subflow can be in close state only if check_fully_established()
 	 * just sent a reset. If so, tell the caller to ignore the current packet.
@@ -1195,6 +1201,12 @@ bool mptcp_incoming_options(struct sock *sk, struct sk_buff *skb)
 			MPTCP_INC_STATS(sock_net(sk), MPTCP_MIB_MPRSTRX);
 		}
 
+		/* pure ACK with no MPTCP options */
+		if (!has_mptcp_opt &&
+		    TCP_SKB_CB(skb)->end_seq == TCP_SKB_CB(skb)->seq) {
+			/* TODO: Mark subflow for later */
+		}
+
 		if (!(mp_opt.suboptions & OPTION_MPTCP_DSS))
 			return true;
 	}
diff --git a/net/mptcp/protocol.h b/net/mptcp/protocol.h
index bac5c925a72f..007e4d2866d5 100644
--- a/net/mptcp/protocol.h
+++ b/net/mptcp/protocol.h
@@ -817,7 +817,7 @@ struct sock *mptcp_sk_clone_init(const struct sock *sk,
 				 const struct mptcp_options_received *mp_opt,
 				 struct sock *ssk,
 				 struct request_sock *req);
-void mptcp_get_options(const struct sk_buff *skb,
+bool mptcp_get_options(const struct sk_buff *skb,
 		       struct mptcp_options_received *mp_opt);
 
 void mptcp_finish_connect(struct sock *sk);
```