MP_CAPABLE 'C' flag is ignored

RFC 8684 section 3.1 includes a 'C' flag in the MP_CAPABLE option. The kernel currently ignores that flag - it is not sent or parsed. This flag indicates that the sender will not accept joins to the source address and the receiver "MUST NOT" send MP_JOINs to that address & port.

The flag needs to be parsed and the path manager updated (along with netlink API flags?) to make sure the peer's subflow 0 address and port are not used for outgoing joins when the C flag is set in the original connection handshake. To finish support, it will also be necessary to configure connections to send the C flag - some combination of sysctl, netlink, or socket option

Hi Mat, I'll work on this issue.

This can be closed because these patches have been applied in our tree:

- 02acfcf0689f: mptcp: add sysctl allow_join_initial_addr_port
- cd1b6f6c2d8c: mptcp: add allow_join_id0 in mptcp_out_options
- ef3b48916d09: mptcp: add deny_join_id0 in mptcp_options_received
- 0704c54e490d: selftests: mptcp: add deny_join_id0 testcases
- Results: 1ba3eb627299..ae2f6282fc03

- de073c6ce650: "squashed" in "mptcp: add deny_join_id0 in
mptcp_options_received"
- Results: ae2f6282fc03..4e92195bd477

Builds and tests are now in progress:

https://cirrus-ci.com/github/multipath-tcp/mptcp_net-next/export/20210611T143831
https://github.com/multipath-tcp/mptcp_net-next/actions/workflows/build-validation.yml?query=branch:export/20210611T143831