Supports redundant backup transmission of multiple subflows

Before that, I read the content of [section 3.3.8 in RFC8684](https://datatracker.ietf.org/doc/html/rfc8684#name-subflow-policy), which mentioned that MPTCP considers some cases where stability is more important than throughput. 

In mptcp supported by existing linux, data streams can be serialized and transmitted on different subflows respectively. Considering some application scenarios that require higher stability, I consider repeating the same packet on different subflows. Although this will sacrifice a lot of bandwidth, it can greatly improve reliability. I do not see a way to set a similar policy in the existing linux kernel.

Any help would be greatly appreciated.

Hello,

In short: it is currently not possible to configure the packet scheduler to do that but it might be possible in the future thanks to a BPF packet scheduler (#75) once the scheduler API has been updated (#350). The work on the BPF side has already been started but the work on the scheduler API not really and it might be consequent.

Now to come back to a "redundant" packet scheduler: as you said, it will impact the bandwidth, it will not change anything regarding the reliability, it could reduce the latency but there is also another aspect to consider. MPTCP is using TCP subflows on the wire: it is a valid TCP connection with extra TCP options. It means that if a packet is lost on one path, and even if the corresponding data have been received on another path (and even delivered to the userspace app), it is required to retransmit the data over this faulty path because some middleboxes are expecting that. In practice, that's usually not an issue but if your different paths are quite lossy, it might even be good to consider having a path manager that kills subflows when there are too many retransmissions "not to stay behind".

We might need to know more about your use-case but in other words, if the latency is really important, TCP (and MPTCP) are maybe not the best technology to use.

> We might need to know more about your use-case

Thanks for your reply. I will describe my needs with examples:
Suppose I have two network cards on my host A,eth0 and eth1, with eth0 as the main interface and eth1 as the subflow.
There is a packet P that needs to be sent to host B.
I want to send packet P to host B on both eth0 and eth1 at same time.
Suppose that the P sent by eth0 is lost during transmission, host B receives the P sent by eth1, and the result is successful. eth0 will not re-transmit the P.
If the P sent by the eth0 and eth1 interfaces are both  lost during transmission, the result is failure, and eth0 and eth1 will resend P.





> I will describe my needs with examples: Suppose I have two network cards on my host A,eth0 and eth1, with eth0 as the main interface and eth1 as the subflow. There is a packet P that needs to be sent to host B. I want to send packet P to host B on both eth0 and eth1 at same time. Suppose that the P sent by eth0 is lost during transmission, host B receives the P sent by eth1, and the result is successful. eth0 will not re-transmit the P.

We would like to do that but we cannot: either the subflow using `eth0` is terminated or `P` is retransmitted because we cannot have "holes" in TCP sequences not to break some "smart" routers, etc. on the path. For the same reason, we cannot send other data re-using the same TCP sequences but different MPTCP options.